@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --white: 0, 100%, 100%;
  --black: 0, 0%, 0%;
  --gray: 0, 0%, 50%;
  --gray-light: 0, 0%, 75%;
  --green: 144, 53%, 54%;
  --green-light: 106, 57%, 59%;
  --green-middle: 139, 58%, 58%;
  --green-dark: 160, 63%, 52%;
  --active: hsl(var(--green));
  --space: 10px;
  --cursor: pointer;
  --anim-speed: 0.3s;
  --anim-style: linear;
  --info-gradient-start: hsl(var(--green-light));
  --info-gradient-middle: hsl(var(--green-middle));
  --info-gradient-end: hsl(var(--green-dark));
  --info-width: 250px;
  --list-item-display: grid;
  --tabs-display: flex;
  --actions-display: flex;
  --action-list-display: none;
  --button-space: 10px;
  --icon-color: hsl(var(--green));
  --icon-size: 15px;
}
@media screen and (max-width: 1023px) {
  :root {
    --popup-background: hsl(var(--white));
    --list-item-colums: repeat(2, 1fr);
    --list-label-color: hsl(var(--gray));
    --list-content-color: hsl(var(--black));
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --list-item-display: flex;
    --tabs-width: 275px;
    --tabs-gap: 20px;
    --actions-width: 275px;
  }
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html {
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--green));
}

body {
  background-color: hsl(var(--gray));
  display: grid;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
}
@media screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
    place-content: center;
  }
}

ul, ol {
  list-style: none;
}

.ip-popup {
  background: var(--popup-background);
  display: grid;
  grid-template-areas: var(--popup-areas);
  grid-template-columns: var(--popup-columns);
}
@media screen and (max-width: 1023px) {
  .ip-popup {
    align-content: start;
    overflow-y: auto;
    padding-block: 50px;
  }
}
.ip-popup.popup--notabs {
  --tabs-display: none;
}
@media screen and (min-width: 1024px) {
  .ip-popup.popup--notabs {
    --header-translate: var(--space-block-start);
    --actions-width: 100%;
    --actions-column-start: 2;
  }
}
.ip-popup.popup--noactions {
  --actions-display: none;
}
@media screen and (min-width: 1024px) {
  .ip-popup.popup--noactions {
    --tabs-translate: var(--space-block-start);
    --tabs-width: 100%;
    --tabs-column-end: -1;
  }
}
.ip-popup.popup--noheader {
  --header-display: none;
}
@media screen and (min-width: 1024px) {
  .ip-popup.popup--noheader {
    --header-translate: var(--space-block-start);
  }
}
.ip-popup.popup--noheader.popup--notabs {
  --content-translate: var(--space-block-start);
}
.ip-popup.popup__info--side {
  --popup-areas: "actions" "header" "info" "content" "tabs";
  --title-main-color: hsl(var(--green));
}
@media screen and (max-width: 1023px) {
  .ip-popup.popup__info--side > .ip-info, .ip-popup.popup__info--side > .ip-header, .ip-popup.popup__info--side > .ip-content {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .ip-popup.popup__info--side {
    --popup-columns: var(--info-width) 1fr;
    --popup-areas: "info tabs actions" "info header header" "info content content";
    --info-background: linear-gradient(0deg, var(--info-gradient-start) 10%, var(--info-gradient-end) 45%);
    width: 800px;
  }
  .ip-popup.popup__info--side > .ip-info {
    --list-display: flex;
    padding-block: 30px;
    padding-inline: 20px;
  }
  .ip-popup.popup__info--side > .ip-info .ip-list {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .ip-popup.popup__info--side > .ip-info .ip-list__item {
    flex-direction: column;
  }
  .ip-popup.popup__info--side > .ip-tabs {
    grid-column-end: var(--tabs-column-end);
    padding-block-end: var(--space);
    width: var(--tabs-width);
  }
  .ip-popup.popup__info--side > .ip-actions {
    grid-column-start: var(--actions-column-start);
    justify-content: flex-end;
    padding-block-end: var(--space);
    width: var(--actions-width);
  }
  .ip-popup.popup__info--side > .ip-tabs, .ip-popup.popup__info--side > .ip-actions {
    margin-block-start: 30px;
  }
  .ip-popup.popup__info--side > .ip-content {
    margin-block-end: 30px;
  }
  .ip-popup.popup__info--side > .ip-tabs, .ip-popup.popup__info--side > .ip-actions, .ip-popup.popup__info--side > .ip-header, .ip-popup.popup__info--side > .ip-content {
    padding-inline: 20px;
  }
  .ip-popup.popup__info--side > .ip-tabs, .ip-popup.popup__info--side > .ip-actions {
    padding-block-start: 20px;
  }
  .ip-popup.popup__info--side > .ip-content {
    padding-block-end: 20px;
  }
}
.ip-popup.popup__info--top {
  --popup-areas: "actions" "tabs" "header" "info" "content";
}
@media screen and (max-width: 1023px) {
  .ip-popup.popup__info--top .ip-title.primary {
    --title-font-weight: normal;
  }
  .ip-popup.popup__info--top .ip-title.secondary {
    --title-font-size: 20px;
  }
  .ip-popup.popup__info--top > .ip-info, .ip-popup.popup__info--top > .ip-header, .ip-popup.popup__info--top > .ip-content {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .ip-popup.popup__info--top {
    --popup-areas: "info" "tabs" "header" "content" "actions";
    --space-block-start: calc(var(--info-height) / 1.5);
    --info-background: linear-gradient(90deg, var(--info-gradient-start) 0%, var(--info-gradient-middle) 40%, var(--info-gradient-end) 100%);
    --info-height: 80px;
    --info-outer-space: 5%;
    --actions-background: hsl(var(--gray-light));
    width: 80vw;
  }
  .ip-popup.popup__info--top .ip-info {
    transform: translateY(calc(var(--info-height) / 2));
  }
  .ip-popup.popup__info--top .ip-info .ip-list {
    --list-display: flex;
    --list-justify: space-evenly;
    height: 100%;
  }
  .ip-popup.popup__info--top .ip-info .ip-list__item {
    align-content: center;
    flex-wrap: wrap;
    padding-inline: 10px 20px;
  }
  .ip-popup.popup__info--top .ip-info .ip-list__item:not(:last-child) {
    border-inline-end: solid 1px hsl(var(--white));
  }
  .ip-popup.popup__info--top > .ip-tabs {
    --tabs-translate: var(--space-block-start);
    padding-block-start: var(--tabs-translate);
    padding-block-end: var(--space);
  }
  .ip-popup.popup__info--top > .ip-actions {
    background: var(--actions-background);
    padding-block: var(--space);
  }
  .ip-popup.popup__info--top > .ip-header {
    padding-block-start: var(--header-translate);
  }
  .ip-popup.popup__info--top > .ip-content {
    max-height: 350px;
    padding-block-start: var(--content-translate);
    padding-block-end: 20px;
    overflow-y: auto;
  }
  .ip-popup.popup__info--top > .ip-tabs, .ip-popup.popup__info--top > .ip-header, .ip-popup.popup__info--top > .ip-content, .ip-popup.popup__info--top > .ip-actions {
    padding-inline: 40px;
  }
}
.ip-popup > .ip-info {
  background: var(--info-background);
  grid-area: info;
  height: var(--info-height);
  margin-inline: var(--info-outer-space);
}
@media screen and (min-width: 1024px) {
  .ip-popup > .ip-info {
    --list-label-color: hsl(var(--white));
    --list-label-font-size: 14px;
    --list-content-color: hsl(var(--white));
    --list-content-font-size: 20px;
  }
}
.ip-popup > .ip-tabs, .ip-popup > .ip-actions, .ip-popup > .ip-header, .ip-popup > .ip-content {
  background: hsl(var(--white));
}
.ip-popup > .ip-tabs {
  display: var(--tabs-display);
  gap: var(--tabs-gap);
  grid-area: tabs;
}
@media screen and (max-width: 1023px) {
  .ip-popup > .ip-tabs {
    box-shadow: 0 -2px 4px 2px hsla(var(--black), 0.2);
    height: 40px;
    inset-block-end: 0;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
  }
  .ip-popup > .ip-tabs .ip-button {
    text-align: center;
    width: 100%;
  }
  .ip-popup > .ip-tabs .ip-button:not(:last-child) {
    border-inline-end: solid 1px hsl(var(--gray-light));
  }
}
.ip-popup > .ip-actions {
  display: var(--actions-display);
  gap: calc(var(--tabs-gap) / 2);
  grid-area: actions;
}
@media screen and (max-width: 1023px) {
  .ip-popup > .ip-actions {
    --info-background: linear-gradient(90deg, var(--info-gradient-start) 0%, var(--info-gradient-middle) 40%, var(--info-gradient-end) 100%);
    background: var(--info-background);
    inset-block-start: 0;
    padding-block: var(--space);
    position: fixed;
    width: 100vw;
  }
  .ip-popup > .ip-actions.open {
    --action-list-display: flex;
  }
  .ip-popup > .ip-actions > .ip-list {
    background: hsl(var(--white));
    box-shadow: 0 2px 4px 2px hsla(var(--black), 0.3);
    display: var(--action-list-display);
    flex-direction: column;
    gap: var(--space);
    inset-inline-start: var(--space);
    padding: var(--space);
    position: absolute;
    width: 50vw;
  }
}
.ip-popup > .ip-header {
  display: var(--header-display);
  grid-area: header;
}
@media screen and (max-width: 1023px) {
  .ip-popup > .ip-header {
    padding-block: 20px;
    text-align: center;
  }
}
.ip-popup > .ip-content {
  grid-area: content;
}

/* LIST */
.ip-list {
  display: var(--list-display);
  justify-content: var(--list-justify);
}
.ip-list__item {
  display: var(--list-item-display);
  grid-template-columns: var(--list-item-colums);
  /* LABEL */
  /* LABEL */
  /* CONTENT */
  /* CONTENT */
}
.ip-list__item .ip-label {
  color: var(--list-label-color);
  font-size: var(--list-label-font-size);
  white-space: nowrap;
}
.ip-list__item .ip-content {
  color: var(--list-content-color);
  font-size: var(--list-content-font-size);
  white-space: nowrap;
}

/* LIST */
/* BUTTONS */
.ip-button {
  color: var(--button-font-color);
  cursor: var(--button-cursor);
  white-space: nowrap;
}
.ip-button.active {
  pointer-events: none;
}
@media screen and (max-width: 1023px) {
  .ip-button.mobile {
    display: grid;
    height: 30px;
    place-content: center;
    width: 30px;
  }
  .ip-button.mobile .icon {
    background-color: hsl(var(--white));
    border-radius: 100%;
    box-shadow: 0 10px 0 0 hsl(var(--white)), 0 -10px 0 0 hsl(var(--white));
    display: inline-block;
    height: 5px;
    width: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .ip-button.mobile {
    display: none;
  }
}
.ip-button.tab {
  --button-font-color: hsl(var(--gray));
  --button-cursor: pointer;
  font-weight: var(--button-font-weight);
  padding-block-end: calc(var(--button-space) / 2);
}
.ip-button.tab.active {
  --button-font-color: hsl(var(--black));
  --button-font-weight: bold;
  --button-cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 1023px) {
  .ip-button.tab.active {
    border-block-start: solid 2px var(--active);
    color: var(--active);
  }
}
@media screen and (min-width: 1024px) {
  .ip-button.tab.active {
    border-block-end: solid 2px var(--active);
  }
}
.ip-button.icon {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: var(--icon-size);
  background-position: 100% 50%;
  color: var(--icon-color);
  cursor: pointer;
  display: inline-flex;
}
@media screen and (max-width: 1023px) {
  .ip-button.icon {
    padding-inline-start: calc(var(--icon-size) * 1.5);
  }
}
@media screen and (min-width: 1024px) {
  .ip-button.icon {
    overflow: hidden;
    height: var(--icon-size);
    width: var(--icon-size);
  }
  .ip-button.icon .icon-text {
    display: none;
  }
}
.ip-button.icon.transfer {
  --background-image: url("https://assets.codepen.io/44572/right-left-solid.svg");
}
.ip-button.icon.export {
  --background-image: url("https://assets.codepen.io/44572/file-export-solid.svg");
}
.ip-button.icon.print {
  --background-image: url("https://assets.codepen.io/44572/print-solid.svg");
}
.ip-button.icon.cancel {
  --background-image: url("https://assets.codepen.io/44572/ban-solid.svg");
}

/* BUTTONS */
/* HEADER */
.ip-header {
  grid-area: title;
}
.ip-header .ip-title {
  color: var(--title-font-color);
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}
.ip-header .ip-title.primary {
  --title-font-color: var(--title-main-color);
  --title-font-size: 20px;
  --title-font-weight: bold;
}
.ip-header .ip-title.secondary {
  --title-font-size: 14px;
}

/* HEADER */

/*# sourceMappingURL=style.css.map */
